<!DOCTYPE html>
	<head>
	<html land="ja">
	<meta charaset="utf-8">
	<title>キャラクター紹介</title>
	<link rel="stylesheet" href= "../stylesheet/style.css">
	<script src="../javascripts/script.js" defer></script>
	</head>

	<body>
		<div id="wrapper">
			<div id="top-wrapper">
				
			</div>
			<div id="main-wrapper">
				<div id="main">
					<div id="outer">
						<div id="inner">
							<img src="../images/break.png" id="slide">
						</div>
					</div>
				</div>
				<div id="charactor">
					<div id="top">
						<h1>キャラクター紹介</h1>
					</div>
					<div id="picture"></div>
					<div id="text">
						<p>ここにキャラクターの紹介文が入ります</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>